<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="navbar">
      <%= link_to root_path do %>
        <h3 class="title">Members Only</h3>
      <% end %>
      <% if user_signed_in? %>
          <p>
            <%= current_user.name %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </p>
      <% else %>
        <p>
          <%= link_to "Sign Up", new_user_registration_path %>
        </p>
        <p>
          <%= link_to "Sign In", new_user_session_path %>
        </p>
      <% end %>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
